{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Catégories{% endblock %}

{% block body %}
<div class="container mt-4">
  {% for message in app.flashes('success') %}
		<div class='alert alert-success mt-4'>
		{{ message }}
		</div>
	{% endfor %}
   {% for message in app.flashes('info') %}
		<div class='alert alert-info mt-4'>
		{{ message }}
		</div>
	{% endfor %}
    {% for message in app.flashes('warning') %}
		<div class='alert alert-warning mt-4'>
		{{ message }}
		</div>
	{% endfor %}
    <h1>Catégories</h1>
{% if not categories.items is same as ([]) %}

    <div class="count">
    <span class="badge bg-light">
    Il y a 
    {{ categories.getTotalItemCount }} catégories.
    </span>
    </div>

    <table class="table table-hover mt-4">
  <thead>
  </thead>
  <tbody>
      {% for category in categories %}
    <tr class="table-active">
      <th scope="row">{{ category.name }}</th>
      <td><a href="{{ path('category.edit', {id : category.id }) }}" class="btn btn-sm btn-info"><i class="fa-solid fa-pen-to-square"></i></a></td>
      <td><a href="{{ path('category.delete', {id : category.id }) }}" class="btn btn-sm btn-warning"><i class="fa-solid fa-trash"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(categories) }}
</div>
{% else %}
<span class="badge bg-light">Aucune catégories.</span>
{% endif %}

<a href="{{ path('category.new') }}" class="btn btn-sm btn-primary">Nouvelle categorie</a>
</div>

{% endblock %}
